@font-face {
    font-family: 'Happiness-Sans-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: Happiness-Sans-Bold;
    font-weight: 500;
}
.invi {
    opacity: 0.0;
}

.wrap{
    overflow: hidden;
    height: 100%;
    transition: all 0.3s;

}

.question-container {
    position: relative;
}

.question-container h3 {
    margin: 0px;
    font-family: Happiness-Sans-Bold;
    color: #777777;
    padding-top: 38px;
    padding-bottom: 40px;
    text-align: center;
    font-size: 64px;
    font-weight: 900;
}

.question-control {
    position: fixed;
    left: 826px;
    top: 852px;
    font-size: 36px;
    color: #777777;
}

.question-indicate, .question-total {
    text-align: center;
    display: inline-block;
    width: 25px;
    height: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

.answer {
    display: inline-table;
}

.col {
    margin-left: 292px;
    display: inline-flex;
}

.answer button {
    background-color: #ffffff;
    color: #777777;
    border-color:#8D8D8D;
    font-family: Happiness-Sans-Bold;
    border-width: 3px;
    outline: 0;
    font-size: 40px;
    font-weight: 900;
    margin-right: 24px;
    margin-bottom: 24px;
    width: 560px;
    height: 185px;
    transition:  all 0.3s;
}

.answer button:hover {
    background-color: #E3E2E2;
    box-shadow: 2px 2px 2px;
    border: 24;
}

.nameInput {
    width: 852px;
    height: 184px;
    border: #8D8D8D 3px solid;
    display: inline-table;
    font-family: Happiness-Sans-Bold;
    font-size: 52px;
    color: #777777;
    text-align: center;
}

.nameCon, .userCon {
    margin-left: 435px;
}

#nextButton, #nextButton-D, #finish {
    width: 560px;
    height: 120px;
   
}

.nextCon, .finishCon {
    margin-left: 584px;
    margin-top: 65px;
    
}

.qd h3 {
    padding: 8px;
}

