
@font-face {
    font-family: 'Happiness-Sans-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

.invi {
    opacity: 0.0;
}


.question-container {
    position: relative;
}

.question-container h3 {
    margin: 0px;
    font-family: Happiness-Sans-Bold;
    color: #777777;
    padding-top: 60px;
    padding-bottom: 40px;
    text-align: center;
    font-size: 64px;
    font-weight: 900;
}

.answer {
    display: inline-table;
}

.col {
    margin-left: 292px;
    display: inline-flex;
}

.answer button {
    background-color: #ffffff;
    color: #777777;
    border: 1;
    border-color:#777777;
    font-family: Happiness-Sans-Bold;
    border-width: 3px;
    outline: 0;
    font-size: 40px;
    font-weight: 900;
    margin-right: 24px;
    margin-bottom: 24px;
    width: 560px;
    height: 185px;
    transition:  all 0.3s;
}

.answer button:hover {
    background-color: #E3E2E2;
    box-shadow: 2px 2px 2px;
    border: 24;
}

.answer input {
    margin-right: 24px;
    margin-bottom: 24px;
    width: 560px;
    height: 85px;
}
