.wrap {
    position: absolute;
    width: 1920px;
    height: 1080px;
    left: 50%;
    transform: translateX(-50%);
    
}

.navbar {
    position: relative;
    margin-top: 64px;
    margin-left: 96px;
    margin-right: 96px;
    margin-bottom: 8px;

}

.description {
    display: inline-block;
    height: 105px;
    width: 445px;
}

.title {
    color: #777777;
    font-size: 32px;
    /*font-family: Happiness Sans VF;*/
    font-weight: 900;
    word-wrap: break-word
}

.description-para {
    color: #777777;
    font-size:16px;
    /*font-family: Happiness Sans VF;*/
    font-weight:400;
    text-align:left;
    line-height:26px;
    word-wrap: break-word
}

.menu {
    display: inline-block;
    position: absolute;
    right: 0;
}

.menu h2 {
    color: #777777;
    font-size: 32px;
    /*font-family: Happiness Sans VF;*/
    font-weight: 900;
    word-wrap: break-word;
    text-align: right;
}

.main-container {
    position: relative;
    height: 632px;
    margin-left: 96px;
    margin-right: 96px;
    margin-bottom: 8px;

}


.play-bar {
    position: relative;
    height: 144px;
    margin-left: 96px;
    margin-right: 96px;
}

.play-bar div {
    display: inline-block;
}

div.seek-control{
    position:absolute;
    top:10px;
    left:600px;
    z-index:1;
    width:500px;
    text-align:center;
}

div.reload{
    position:absolute;
    top:35px;
    left:40px;
    z-index:1;
}

div.credit{
    position:absolute;
    top:9px;
    left:1370px;
    z-index:1;

    color: #777777;
    font-size:16px;
    /*font-family: Happiness Sans VF;*/
    font-weight:400;
    text-align:right;
    line-height:26px;
    word-wrap: break-word
}

.seek-control img {
    padding: 21px 45px 17px;
}

.gohome {
    padding-top: 20px;
    font-size: 32px;
    font-weight: 900;
    font-style: normal;
}