.main-container {
    position: relative;
    width: 1920px;
    height: 1080px;
    margin: 0 auto;
    background: #ffffff;
  }

.flex-column-d {
    position: absolute;
    height: 773px;
    top: 240px;
    right: 242px;
    left: 972px;
    z-index: 10;
  }
.middle-bar {
    position: absolute;
    width: 8px;
    height: 598px;
    top: 0;
    left: 60px;
    background: url()
      no-repeat center;
    background-size: cover;
    z-index: 1;
}
.bar {
    position: absolute;
    height: 360px;
    top: 112px;
    right: 0;
    left: 0;
    background: url()
      no-repeat center;
    background-size: cover;
}
.pause {
    position: absolute;
    width: 68px;
    height: 94px;
    top: 583px;
    left: 381px;
    background: url(../src/pause.svg)
      no-repeat center;
    background-size: cover;
    z-index: 9;
    transition: all 0.2s;
}

.pause:hover {
    opacity: 0.5;
}
.restart {
  position: absolute;
  width: 75px;
  height: 86px;
  top: 587px;
  left: 243px;
  background: url(../src/refresh.svg)
    no-repeat center;
  background-size: cover;
  z-index: 10;
  transition: all 0.2s;
}

.restart:hover {
  opacity: 0.5;
}
.flex-column-ee {
  position: absolute;
  top: 240px;
  right: 1080px;
  bottom: 168px;
  left: 242px;
  font-size: 0px;
  z-index: 7;
}
.text {
  display: block;
  position: relative;
  height: 96px;
  margin: 0 0 0 0;
  color: #767676;
  font-family: Happiness Sans VF, var(--default-font-family);
  font-size: 64px;
  font-weight: 900;
  line-height: 96px;
  text-align: left;
  white-space: nowrap;
  z-index: 3;
}
.explain {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 523px;
  height: 150px;
  margin: 16px 0 0 0;
  color: #767676;
  font-family: Happiness Sans VF, var(--default-font-family);
  font-size: 40px;
  font-weight: 900;
  line-height: 56px;
  text-align: left;
  text-overflow: initial;
  z-index: 4;
  /* overflow: hidden; */
}
.explain-2{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 523px;
  height: 40px;
  margin: 16px 0 0 0;
  color: #767676;
  font-family: Happiness Sans VF, var(--default-font-family);
  font-size: 40px;
  font-weight: 900;
  line-height: 56px;
  text-align: left;
  text-overflow: initial;
  z-index: 4;
}
.jazzy-rock {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 598px;
  height: 65px;
  margin: 22px 0 0 0;
  color: #767676;
  font-family: Happiness Sans VF, var(--default-font-family);
  font-size: 32px;
  font-weight: 400;
  line-height: 48px;
  text-align: left;
  text-overflow: initial;
  z-index: 5;
  overflow: hidden;
}
.box {
  position: relative;
  width: 560px;
  height: 120px;
  margin: 162px 0 0 0;
  border: 4px solid #8d8d8d;
  z-index: 7;
  transition:  all 0.3s;
}

.box:hover {
  background-color: #E3E2E2;
}

.text-1 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 63.21%;
  height: 53.33%;
  top: 19.17%;
  left: 17.68%;
  color: #767676;
  font-family: Happiness Sans VF, var(--default-font-family);
  font-size: 40px;
  font-weight: 900;
  line-height: 64px;
  text-align: center;
  white-space: nowrap;
  z-index: 8;
}

.graphic-wrap {
  position: absolute;
  width: 100%;
  height: 488px;
  left: 40px;
}

.graphic-over {
  position: absolute;
  width: 100%;
  height: 100%;
}

.graphic-over svg {
  position: absolute;
  width: 100%;
  height: 100%;
}


.graphic-lines {
  z-index: 4
  
}
.graphic-instr {
  z-index: 5;
}

.graphic-chord {
  z-index: 6;
}

.graphic-drumset {
  z-index: 7;

}

.graphic-melody {
  z-index: 8;

}

